* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F5F5F5;
}

#hero1 {
  text-align: center;
}

#todoList {
  padding: 10px;
}

#todoList li {
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#todoList li:last-child {
  margin-bottom: 0;
}